<!DOCTYPE html>
<html lang="en">
<head>
    <title>User Dashboard Homepage for User Dashboard Assignment</title>
    <!----- BOOTSTRAP ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <!--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->
    <style>
        div.body_wrapper {
            padding: 0px 75px;
        }
        .quoteBox {
            padding: 15px;
            width: 500px;
            margin-bottom: 15px;
            border: 1px solid black;
        }
    </style>
</head>
<body>
    <div class="navbar" style="padding: 10px auto; border-bottom: 1px solid darkgrey;">
        <div class="navbar-inner">
            <nav class="container" style="padding: 0px 20px;">
            <h3 style="display: inline-block;">{{usr.first_name}} {{usr.last_name}}</h3>
            <ul class="nav" style="display: inline-block;">
                {% if trp.created_by.id == request.session.loggedIn_id %}
                    <li class="active" style="display: inline-block; font-size: 18px;"><a href="{%url 'go_editTrip' id=trp.id%}">Edit This Trip</a></li>
                {% endif %}
                <li class="active" style="display: inline-block; font-size: 18px;"><a href="{%url 'go_dashboard' %}">Go Back</a></li>
                <li class="active" style="display: inline-block; font-size: 18px;"><a href="{%url 'processLogout' %}">Logout</a></li>
            </ul>
        </nav>
        </div>
    </div>

    <div class='body_wrapper'>
        <h2>{{trp.destination}}</h2>
        <div style="padding: 10px;">
            <h4>Planned by: {{trp.created_by.first_name}} {{trp.created_by.last_name}}</h4> 
            <h4>Description: {{trp.description}}</h4> 
            <h4>Travel Date From: {{trp.arrivalDate}}</h4> 
            <h4>Travel Date To: {{trp.departureDate}}</h4> 
        </div>

        <h2>Other Users Joining this Trip</h2>
        <div style="padding: 10px;">
            {% for user in trp_usrs %}
                <h4>{{user.first_name}} {{user.last_name}}</h4>
            {% endfor %}
        </div>
    </div>

</body>
</html>